extends layout

block content
  #login-form.row
    .col-sm-3.text-left
        form
          .form-group
            label User Name
            input.form-control.input-lg.text-left(type='text', id='uname', placeholder='', ng-model='formData.uname')
            label Password
            input.form-control.input-lg.text-left(type='password', id='pw', placeholder='', ng-model='formData.pw')
          button.btn.btn-primary.btn-lg(type='submit', ng-click='login(formData.uname)') Login
          button.btn.btn-primary.btn-lg(type='submit', ng-click='register()') Register
          br
          div(id='result', ng-model='result')
           {{result}}
          div(id='listusers', ng-repeat='user in users')   		
