doctype 5
html(ng-app='login')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/core.js')
  body(ng-controller='mainController')
    block content
